a{
    text-decoration: none;
    color: #fff;
    font-size: 50px;
    display: inline-block;
}
body{
    background: #212534;
    display: flex;
    align-items: center;
    flex-direction: column; 
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    color: #fff;
    word-spacing: 10px;
}
#daro{
    display: flex;
    justify-content: center;
}
